@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Add an Author</h2>

<h4>Add an Author to this Book: @Model.Title</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.Label("Select Author")
  @Html.DropDownList("AuthorId")

  <input type="submit" value="Add Author" class="btn btn-dark" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>