@{
  Layout = "_Layout";
}
@using Library.Models
@model Library.Models.Book

<h2>Book Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>
<h4>Authors:</h4>
<ul>
  @foreach (var join in Model.JoinEntities)
  {
    <li>@join.Author.Name
      @using (Html.BeginForm("DeleteAuthor", "Books", FormMethod.Post, new { @class = "form-inline" }))
      {
        @Html.Hidden("joinId", @join.AuthorBookId)
        <input type="submit" value="Delete" class="btn btn-dark" />
      }
    </li>
  }
</ul>
<hr />

<ul>
  @foreach (Copy copy in ViewBag.Copies)
  {
  <li>
    @Model.Title (ID: @copy.CopyId) |
    @if (copy.Available)
    {
      @:Status: <span class="available">Available</span>
    }
    else
    {
      @:Status: <span class="unavailable">Unavailable</span>
    }
  </li>
  }
</ul>
<hr />

<p>@Html.ActionLink("Add an Author", "AddAuthor", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId })</p>